
services:
  server:
    container_name: nodejs_server
    build: ./
    ports:
      - "3000:3000"
    networks:
      - monitoring
  

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - monitoring
  

  grafana:
    image: grafana/grafana:latest
    ports:
     - "3001:3000"
    networks:
      - monitoring
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=manik
  
networks:
  monitoring: